{
    "semi": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "lf",
    "useTabs": true,
    "quoteProps": "consistent",
    "bracketSameLine": false
}
